<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8">
<title>Публикации</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="./static/base.css">
</head>
<body>
<header>
	<h1>Публикации</h1>
	<nav>
	</nav>
</header>
{% for category_name, category_pubs in categories %}
<section>
<h2>{{category_name}}</h2>
<ul class="pubs">
{% for pub in category_pubs %}
	<li>
		<a href="{{pub.href}}">
			<img src={{pub.thumbnail}}>
			<div>
				{{pub.name}}
				{% if pub.issue %}{{pub.issue}}{%endif%}
				<!-- ({{pub.code}}) -->
			</div>
		</a>
	</li>
{% endfor %}
</ul>
</section>
{% endfor %}
</body>
</html>
