# To find out what has been kept back:
# pip3 list --outdated

# Flask framework, its dependencies, and addons
Flask==3.0.2
Flask-SQLAlchemy>=3.0.2
flask-babel==4.0.0
Flask_Caching==2.1.0
click==8.1.7
itsdangerous==2.2.0
Jinja2==3.1.6
Markupsafe==3.0.2
Werkzeug==3.1.3
# Used to examine DB during development
#flask_admin==1.6.1

# For web scraping
requests==2.32.3
lxml==5.3.0

# For communicating with the OBS-Websocket plugin
websocket-client==1.8.0

# For controlling the X window manager
ewmh==0.1.6; sys_platform != "win32"

# Web browser widget used by the pub-tools script
pywebview==5.4

# For printing tables and debugging
rich==13.9.4
icecream==2.1.3

# Used by the video and image search engines
Whoosh==2.7.4
pymorphy3==2.0.2

# For making image thumbnails and by the Zoom tracker
Pillow==11.0.0

# Used to validate the configuration
jsonschema==4.23.0

# For zooming to face in Scene Composer
# (Excluded on Win32 for now since it bloats the MSI.)
face-recognition==1.3.0; sys_platform != "win32"
numpy==1.26.4; sys_platform != "win32"
