BODY {
	--bg-header: #f0f8f0;
	--bg-tabs: #b0b8b0;
	--bg-tab: #d0d8d0;
	--bg-tab-current: #f0f8f0;
	}

.bordered-box {
	background-color: #f8f8ff;
	}

TABLE.borders TH {
	background-color: #e0ffe0;	/* green */
	}
TABLE.borders TD {
	background-color: #f8fff8;	/* light green */
	}

SELECT {
	background-color: #729fcf;	/* baby blue */
	color: white;
	}

BUTTON.back {

	}
BUTTON.browse {

	}
BUTTON.cancel {
	background-color: #ef2929;	/* red */
	color: white;
	}
BUTTON.config {
	background-color: #FCE954; /* pale yellow */
	}
BUTTON.connect {

	}
BUTTON.delete {
	background-color: #ef2929;	/* red */
	color: white;
	}
BUTTON.download {
	background-color: #00c0ff;
	}
BUTTON.new {
	background-color: #729fcf; /* baby blue */
	color: white;
	}
BUTTON.reload {
	background-color: orange;
	color: black;
	}
BUTTON.save {
	background-color: #4e9a06; /* green */
	color: white;
	}
BUTTON.search {

	}
BUTTON.upload {

	}
BUTTON.web {

	}

