HTML, BODY, H1, H2, H3, UL, LI {
	margin: 0;
	padding: 0;
	}
BODY {
	margin: .5em;
	font-family: sans-serif;
	}
H1, H2, H3 {
	font-weight: bold;
	}
H1 {
	font-size: 120%;
	margin-bottom: .2em;
	}
H2 {
	font-size: 110%;
	}
H3 {
	font-size: 100%;
	}
UL {
	margin: .3em 0 .3em 1.5em;
	}
LI {
	margin: .2em 0;
	}

UL.grid {
	display: table;
	margin: .3em 0;
	border-color: #808080;
	border-style: solid none none solid;
	border-width: 1px;
	}
UL.grid LI {
	display: table-row;
	margin: 0;
	}
UL.grid LI > * {
	display: table-cell;
	border-color: #808080;
	border-style: none solid solid none;
	border-width: 1px;
	padding: .75em;
	}
UL.grid A {
	white-space: nowrap;
	}

