* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}
BODY {
	font-family: sans-serif;
	}
HEADER {
	padding: 5px;
	}
NAV {
	}
SECTION {
    border: 1px solid #c0c0c0;
	margin: 5px;
    border-radius: 5px;
	}
H1, H2 {
	font-weight: bold;
	}
H1 {
	font-size; 150%;
	}
H2 {
	font-size: 120%;
	margin: 5px;
	}

UL.pubs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-auto-rows: 1fr;
    list-style: none;
    }
UL.pubs LI {
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    margin: 2.5px;
    }
UL.pubs LI A {
    display: block;
    color: inherit;
    text-decoration: inherit;
    text-align: left;
	padding: 5px;
	height: 100%;
    }
UL.pubs LI A:hover {
    background-color: #f0f0f0;
    }
UL.pubs LI IMG {
    display: block;
    width: 100%;
    border: 1px solid #c0c0c0;
    }
