{% set title = "Search Illustrations" %}
{% extends "epubs/base.html" %}

{% block header %}
	<h1><a href="..">&lt;&nbsp;{{ title }}</a></h1>
{% endblock %}

{% block main %}
<form action="." method="GET">
<section>
	<input type="text" name="q" value="{{q}}">
	<button type="submit">Search Illustrations</button>
</section>
</form>

<section class="illustrations">
{% for result in results %}
	<a href="{{result.docnum}}?q={{q}}">
		<img src="../{{result.pub_code}}/{{result.src}}">
	</a>
{% endfor %}
</section>
{% endblock %}
