{% set title = "Epub Index" %}
{% extends "epubs/base.html" %}

{% block main %}
<section>
<h2>Periodicals</h2>
<ul>
{% for name, issues in periodicals %}
  <li>
    <h3>{{name}}</h3>
    <ul>
      {% for issue in issues %}
      <li><a href="{{issue.pub_code}}-{{issue.issue_code}}/">{{issue.issue}}</a></li>
      {% endfor %}
    </ul>
{% endfor %}
</ul>
</section>

<section>
<h2>Books and Brochures</h2>
<ul>
{% for book in books %}
<li><a href="{{book.pub_code}}/" title="{{book.pub_code}}">{{book.name}}</a></li>
{% endfor %}
</ul>
</section>
{% endblock %}
