[Desktop Entry]
Name=Zoom
Comment=Zoom Video Conference
Exec=/usr/bin/xdg-open zoommtg://zoom.us/join?action=join&confno=XXXXXXXXXX?pwd=PPPPPPPPPPPP&uname=%%D0%%97%%D0%%B0%%D0%%BB%%20%%D0%%A6%%D0%%B0%%D1%%80%%D1%%81%%D1%%82%%D0%%B2%%D0%%B0
Icon=Zoom
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;Application;
StartupWMClass=zoom
Name[en_US]=Start Meeting
