{% set title = "Preprogrammed Actions" %}
{% extends "khplayer/base.html" %}

{% block main %}
<form action="submit" method="POST">

<section class="bordered">
<h2>Zoom</h2>
<button type="submit" name="action" value="reconnect-zoom-capture">Reconnect Zoom Capture</button>
</section>

<section class="bordered">
<h2>Peripherals</h2>
<button type="submit" name="action" value="reconnect-camera">Reconnect Camera</button>
<button type="submit" name="action" value="reconnect-audio">Reconnect Audio</button>
</section>

</form>
{% endblock %}
