<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="mobile-web-app-capable" content="yes">
<link rel="stylesheet" text="text/css" href="{{ url_for('.static', filename='base.css')}}">
{{ turbo() }}
{% block head_add %}
{% endblock %}
</head>
<body>
<header>
	<nav>
		<ul>
		{% for name, href in menu %}
		<li{% if href in request.path %} class="current"{% endif %}>
			<a href="{{top}}{{href}}">{{ name }}</a>
		</li>
		{% endfor %}
		</ul>
	</nav>

	<!-- download progress messages go in this div -->
	<div id="progress">
		&nbsp;
	</div>

	{% block header %}
	<h1>{{title}}</h1>
	{% endblock %}
</header>

<div id="flashes">
{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="flash">{{ message }}</div>
		{% endfor %}
	{% endif %}
{% endwith %}
</div>

<main>
{% block main %}
{% endblock %}
</main>

</body>
</html>
