<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="mobile-web-app-capable" content="yes">
<link rel="stylesheet" text="text/css" href="{{ url_for('.static', filename='base.css')}}">
{{ turbo() }}
{% block head_add %}
{% endblock %}
</head>
<body>
<header>
	{% macro menu_item(name, href) %}
		<li{% if href in request.path %} class="current"{% endif %}>
			<a href="{{top}}{{href}}">{{ name }}</a>
		</li>
	{% endmacro %}
	<nav>
		<ul>
		{{ menu_item("Meetings", "/meetings/") }}
		{{ menu_item("Songs", "/songs/") }}
		{{ menu_item("Videos", "/videos/") }}
		{{ menu_item("Stream", "/stream/") }}
		{{ menu_item("Scenes", "/scenes/") }}
		{{ menu_item("Tools", "/tools/") }}
		{{ menu_item("Patchbay", "/patchbay/") }}
		{{ menu_item("Config", "/config/") }}
		</ul>
	</nav>

	<!-- download progress messages inserted here -->
	<div id="progress"></div>

	{% block header %}
	<h1>{{title}}</h1>
	{% endblock %}
</header>
<script>
document.getElementsByTagName("body")[0].style.paddingTop
	= document.getElementsByTagName("header")[0].offsetHeight + "px";
</script>

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="flash">{{ message }}</div>
		{% endfor %}
	{% endif %}
{% endwith %}

{% block main %}
{% endblock %}

</body>
</html>
