{% set title = gettext("JW Stream Clip Maker") %}
{% extends "khplayer/base.html" %}

{% block head_add %}
<link rel="stylesheet" text="text/css" href="{{ url_for('.static', filename='jwstream_player.css')}}">
{% endblock %}

{% block header %}
<h1><a href="..">&lt; {{event.title}} ({{gettext(channel.language)}}, {{gettext(channel.country)}})</a></h1>
{% endblock %}

{% block main %}
<section class="stream-player">
<form id="form" action="clip" method="POST">

<div class="video-sizer">
	<video id="player" controls src="{{event.download_url}}" style="width: 100%">
	</video>
</div>

<div id="jog-controls" class="controls">
	<button type="button"><img src="{{top}}/static/button-backward.svg"><span>30:00</span></button>
	<button type="button"><img src="{{top}}/static/button-backward.svg"><span>5:00</span></button>
	<button type="button"><img src="{{top}}/static/button-backward.svg"><span>1:00</span></button>
	<button type="button"><img src="{{top}}/static/button-backward.svg"><span>0:30</span></button>
	<button type="button"><img src="{{top}}/static/button-backward.svg"><span>0:05</span></button>
	<button type="button"><img src="{{top}}/static/button-backward.svg"><span>0:01</span></button>

	<button type="button">{{gettext("Set Start")}}</button>
	<button type="button">{{gettext("Set End")}}</button>

	<button type="button"><span>0:01</span><img src="{{top}}/static/button-forward.svg"></button>
	<button type="button"><span>0:05</span><img src="{{top}}/static/button-forward.svg"></button>
	<button type="button"><span>0:30</span><img src="{{top}}/static/button-forward.svg"></button>
	<button type="button"><span>1:00</span><img src="{{top}}/static/button-forward.svg"></button>
	<button type="button"><span>5:00</span><img src="{{top}}/static/button-forward.svg"></button>
	<button type="button"><span>30:00</span><img src="{{top}}/static/button-forward.svg"></button>
</div>

<div id="chapter-controls" class="controls">
<label>Chapters:</label>
{% for chapter in event.chapters %}
<button type="button" class="chapter-button" data-time="{{chapter['editedStartTime']}}">{{chapter['name']}}</button>
{% endfor %}
</div>

<div id="trim-controls" class="controls">
	<label>{{gettext("Clip Start:")}} <input type="text" name="clip_start" value="{{clip_start}}" class="time"></label>
	<label>{{gettext("Clip End:")}} <input type="text" name="clip_end" value="{{clip_end}}" class="time"></label>
	<label class="grow"><span>{{gettext("Clip Title:")}}</span> <input type="text" name="clip_title" value="{{clip_title}}" class="grow" data-lpignore='true'></label>
	<button type="submit">{{gettext("Make Clip")}}</button>
</div>

<script>
(function() {

const player = document.getElementById("player");
const form = document.getElementById("form");

/* First control bar */
const jog_controls = document.getElementById("jog-controls").children;
function jog_button(index, amount)
	{
	jog_controls[index].addEventListener('click', function() {
		player.currentTime = Math.floor(player.currentTime + amount + 0.5);
		});
	}
function time_to_str(seconds)
	{
	const hours = Math.floor(seconds / 3600);
	seconds = Math.floor(seconds % 3600);
	const minutes = Math.floor(seconds / 60);
	seconds = Math.floor(seconds % 60);
	return hours + ":" + ("0" + minutes).slice(-2) + ":" + ("0" + seconds).slice(-2);
	}
function copy_time_button(index, target)
	{
	jog_controls[index].addEventListener('click', function()
		{
		let seconds = Math.floor(player.currentTime + 0.5);
		form.elements[target].value = time_to_str(seconds);
		});
	}
jog_button(0, -1800);
jog_button(1, -300);
jog_button(2, -60);
jog_button(3, -30);
jog_button(4, -5);
jog_button(5, -1);
copy_time_button(6, "clip_start");
copy_time_button(7, "clip_end");
jog_button(8, 1);
jog_button(9, 5);
jog_button(10, 30);
jog_button(11, 60);
jog_button(12, 300);
jog_button(13, 1800);

/* Second control bar */
const chapter_buttons = document.getElementsByClassName("chapter-button");
function on_chapter_button(event)
	{
	player.currentTime = this.dataset.time;	
	if(form.elements["clip_start"].value == "")
		{
		form.elements["clip_start"].value = time_to_str(this.dataset.time);
		form.elements["clip_title"].value = this.innerText;
		}
	}
for(let i=0; i < chapter_buttons.length; i++)
	{
	chapter_buttons[i].addEventListener("click", on_chapter_button);
	}

})();
</script>
</form>
</section>
{% endblock %}
