{% set title = _("JW Stream Clip Maker") %}
{% extends "khplayer/base.html" %}

{% block head_add %}
<link rel="stylesheet" text="text/css" href="{{ url_for('.static', filename='jwstream_player.css')}}">
<script src="{{ url_for('.static', filename='jwstream_player.js')}}"></script>
{% endblock %}

{% block header %}
<h1><a href="..">&lt; {{_(event.title)}} {{event.datetime.strftime("%Y-%m-%d")}} ({{_(channel.language)}}, {{_(channel.country)}})</a></h1>
{% endblock %}

{% block main %}
<section class="stream-player">
<form id="form" action="clip" method="POST">

<div class="video-sizer">
	<video id="player" controls src="{{event.get_preview_url()}}" style="width: 100%">
	</video>
</div>

<div id="jog-controls" class="controls">
	<button type="button"><img src="{{top}}/static/button-backward.svg"><span>30:00</span></button>
	<button type="button"><img src="{{top}}/static/button-backward.svg"><span>5:00</span></button>
	<button type="button"><img src="{{top}}/static/button-backward.svg"><span>1:00</span></button>
	<button type="button"><img src="{{top}}/static/button-backward.svg"><span>0:30</span></button>
	<button type="button"><img src="{{top}}/static/button-backward.svg"><span>0:05</span></button>
	<button type="button"><img src="{{top}}/static/button-backward.svg"><span>0:01</span></button>

	<button type="button">{{_("Set Start")}}</button>
	<button type="button">{{_("Set End")}}</button>

	<button type="button"><span>0:01</span><img src="{{top}}/static/button-forward.svg"></button>
	<button type="button"><span>0:05</span><img src="{{top}}/static/button-forward.svg"></button>
	<button type="button"><span>0:30</span><img src="{{top}}/static/button-forward.svg"></button>
	<button type="button"><span>1:00</span><img src="{{top}}/static/button-forward.svg"></button>
	<button type="button"><span>5:00</span><img src="{{top}}/static/button-forward.svg"></button>
	<button type="button"><span>30:00</span><img src="{{top}}/static/button-forward.svg"></button>
</div>

{% if event.chapters %}
<div id="chapter-controls" class="controls">
<label>{{_("Chapters:")}}</label>
{% for chapter in event.chapters %}
<button type="button" class="chapter-button" data-time="{{chapter['editedStartTime']}}">{{chapter['name']}}</button>
{% endfor %}
</div>
{% endif %}

<div id="trim-controls" class="controls">
	<label>{{_("Start:")}} <input type="text" name="clip_start" value="{{clip_start}}" class="time"></label>
	<label>{{_("End:")}} <input type="text" name="clip_end" value="{{clip_end}}" class="time"></label>
	<label class="grow"><span>{{_("Title:")}}</span> <input type="text" name="clip_title" value="{{clip_title}}" class="grow" data-lpignore='true'></label>
	<button class="download" type="submit">{{_("Make Clip")}}</button>
</div>

<script>
if(!document.documentElement.hasAttribute("data-turbo-preview"))
	init_jwstream();
</script>
</form>
</section>
{% endblock %}
