{% set title = gettext("JW Stream Event Recordings") %}
{% extends "khplayer/base.html" %}

{% block header %}
<h1><a href="..">&lt; {{gettext(channel.name)}} ({{gettext(channel.language)}}, {{gettext(channel.country)}})</a></h1>
{% endblock %}

{% block main %}
<section>
<table class="borders">
<thead>
<tr>
	<th>{{gettext("Title")}}</th>
	<th>{{gettext("Date")}}</th>
</tr>
</thead>
<tbody>
{% for event in events %}
<tr>
	<td><a href="{{event.id}}">{{gettext(event.title)}}</a></td>
	<td>{{event.datetime.strftime("%Y-%m-%d")}}</td>	
</tr>
{% endfor %}
</tbody>
</table>
<form action="update" method="POST">
<p><button type="submit">{{gettext("Update")}}</button></p>
</section>
</form>
{% endblock %}
