{% set title = "Channels on JW Stream" %}
{% extends "khplayer/base.html" %}

{% block main %}
<section>
<table class="borders">
<thead>
<tr>
	<th>Language</th>
	<th>Country</th>
	<th>Name</th>
	<th>Expires</th>
</tr>
</thead>
<tbody>
{% for channel in channels %}
<tr>
	<td>{{channel.language}}</td>	
	<td>{{channel.country}}</td>	
	<td><a href="{{channel.token}}">{{channel.name}}</a></td>
	<td>{{channel.expires.strftime("%Y-%m-%d %H:%M")}}</td>	
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}

