{% set title = gettext("JW Stream Channels") %}
{% extends "khplayer/base.html" %}
{% import "khplayer/lib.html" as lib -%}

{% block main %}
<section>
<table class="borders">
<thead>
<tr>
	<th>{{gettext("Channel Name")}}</th>
	<th>{{gettext("Language")}}</th>
	<th>{{gettext("Country")}}</th>
	<th>{{gettext("Status")}}</th>
</tr>
</thead>
<tbody>
{% for channel in channels %}
<tr>
	<td><a href="{{channel.token}}">{{gettext(channel.name)}}</a></td>
	<td>{{gettext(channel.language)}}</td>	
	<td>{{gettext(channel.country)}}</td>	
	<td>{{channel.status}}</td>	
</tr>
{% endfor %}
</tbody>
</table>
</section>

{% if config is not none %}
<section class="bordered-box">
<h2>{{gettext("Configuration")}}</h2>
<form action="save-config" method="POST">
{{lib.render_textarea(_("JW Stream Sharing URLs"), "url", config["url"], class="urls")}}
<div class="borderless-box">
{{lib.render_select(_("Preview Resolution"), "preview_resolution", config["preview_resolution"], resolutions)}}
{{lib.render_select(_("Download Resolution"), "download_resolution", config["download_resolution"], resolutions)}}
</div>
<button type="submit">{{gettext("Save")}}</button>
<a href="."><button>{{gettext("Cancel")}}</button></a>
</form>
</section>
{% else %}
<section>
	<a href=".?action=configuration"><button>{{gettext("Configuration")}}</button></a>
</section>
{% endif %}

{% endblock %}

