<turbo-stream action="append" target="media-list">
	<template>
		{% if new_section %}<tr><th colspan="4">{{item.section_title}}</th></tr>{% endif %}
		<tr>
		<td>{{item.part_title}}</td>
	    <td>{{item.pub_code}}</td>
		<td>
			<div class="thumbnail">
				{% if item.thumbnail_url %}<img src="{{item.thumbnail_url}}">{% endif %}
	    		<div class="caption">{{item.media_type}}</div>
			</div>
		</td>
	    <td><a href="{{item.media_url}}" target="_blank">{{item.title}}</a></td>
	    </tr>
	</template>
</turbo-stream>

