{% set title = gettext("Meetings") %}
{% extends "khplayer/base.html" %}

{% block header %}
<h1><a href="..">&lt; {{meeting_title}}</a></h1>
{% endblock %}

{% block main %}
<form action="download" method="POST">

<section>
<input type="hidden" name="title" value="{{meeting_title}}">
<table class="borders full-width selection">
<thead>
<tr>
	<th><input id="check-all" type="checkbox" checked></th>
	<th>{{gettext("Part")}}</th>
	<th>{{gettext("Pub")}}</th>
	<th colspan="2">{{gettext("Media Item")}}</th>
	</tr>
</thead>
<tbody id="media-list">
</tbody>
</table>
</section>

<section id="button-box" class="bordered-box">
	<span class="form-field">
		<button class="download" type="submit" disabled>{{gettext("Download Media and Create Scenes in OBS")}}</button>
	</span>
	<span class="form-field">
		<input type="checkbox" id="delete-existing" name="delete-existing" value="true" checked>
		<label for="delete-existing">{{gettext("Delete existing unstarred scenes")}}</label>
	</span>
	<br>
	<span class="form-field">
		<a href="{{meeting_url}}" target="_blank">
			<button class="web" type="button">{{gettext("Open Meeting Article")}}</button>
		</a>
	</span>
</section>

</form>

<script>
document.getElementById("check-all").addEventListener("click", function() {
	let state = event.target.checked;
	document.getElementsByName("selected").forEach(checkbox => {
		checkbox.checked = state;
		});
	});
function loaded_hook() {
	document.getElementsByTagName("button")[0].disabled = false;
	}
(function() {
	let sse = new EventSource("stream");
	sse.onerror = () => { sse.close() }
	Turbo.connectStreamSource(sse);
	})();
</script>

{% endblock %}
