{% set title = "Meetings" %}
{% extends "khplayer/base.html" %}

{% block header %}
<h1><a href="..">&lt; {{meeting_title}}</a></h1>
{% endblock %}

{% block main %}
<form action="load" method="POST">

<section>
<h2>Meeting Media</h2>
<input type="hidden" name="title" value="{{meeting_title}}">
<table class="borders full-width">
<thead>
<tr>
	<th>Part</th>
	<th>Pub</th>
	<th colspan="2">Media Item</th>
	</tr>
</thead>
<tbody id="media-list">
</tbody>
</table>
</section>

<section id="button-box" class="bordered">
	<div class="form-field">
		<button type="submit" disabled>Download Media and Create Scenes in OBS</button>
	</div>
</section>

</form>

<script>
function loaded_hook() {
	document.getElementsByTagName("button")[0].disabled = false;
	}
(function() {
	let sse = new EventSource("stream");
	sse.onerror = () => { sse.close() }
	Turbo.connectStreamSource(sse);
	})();
</script>

{% endblock %}
