{% set title = "Meetings" %}
{% extends "khplayer/base.html" %}

{% block header %}
<h1><a href="..">&lt; {{meeting_title}}</a></h1>
{% endblock %}

{% block main %}
<section>
<h2>Meeting Media</h2>

<table class="borders">
<thead>
<tr>
	<th>Pub</th>
	<th>Title</th>
	<th>Type</th>
	<th>URL</th>
	</tr>
</thead>
<tbody>
{% for pub, title, media_type, href in media %}
<tr>
	<td>{{pub}}</td>
	<td>{{title}}</td>
	<td>{{media_type}}</td>
	<td><a href="{{href}}">{{href}}</a></td>
	</tr>
{% endfor %}
</tbody>
</table>

<form action="load" method="POST">
<input type="hidden" name="title" value="{{meeting_title}}">
<p>
	<input type="text" name="collection" placeholder="New collection name">
	<button type="submit">Download Media and Create Scenes in OBS</button>
</p>
</form>
{% endblock %}
