{% set title = "Meetings" %}
{% extends "khplayer/base.html" %}

{% block main %}
<section>
<h2>Current and Upcoming Meetings</h2>

<table class="borders">
<thead>
<tr>
	<th>Week Of</th>
	<th>Midweek</th>
	<th>Weekend</th>
</tr>
</thead>
<tbody>
{% for week in weeks %}
<tr>
	<th>{{week.week_of()}}</th>
	<td><a href="{{week.mwb_docid}}/?title={{(week.week_of() + ' Life and Ministry')|urlencode}}">Life and Ministry</a></td>
	<td><a href="{{week.watchtower_docid}}/?title={{(week.week_of() + ' Watchtower')|urlencode}}">Watchtower</a></td>
</tr>
{% endfor %}
</tbody>
</table>

{% if weeks|length < 6 %}
<p>
	<form action="update" method="POST">
	<button type="submit">Load More Weeks</button>
	</form>
</p>
{% endif %}
</section>
{% endblock %}
