{% set title = gettext("Meeting Media Loader") %}
{% extends "khplayer/base.html" %}

{% block main %}
<section>

<table class="borders">
<thead>
<tr>
	<th>{{gettext("Week Of")}}</th>
	<th>{{gettext("Midweek Meeting")}}</th>
	<th>{{gettext("Weekend Meeting")}}</th>
</tr>
</thead>
<tbody>
{% for week in weeks %}
<tr>
	<td>{{week.week_of()}}</td>
	<td>
		{%if week.mwb_docid%}
		<a href="{{week.mwb_docid}}/?title={{(week.week_of() + ' ' + gettext('Life and Ministry'))|urlencode}}">
			{{gettext("Life and Ministry")}}
		</a>
		{%endif%}
	</td>
	<td>
		{%if week.watchtower_docid%}
		<a href="{{week.watchtower_docid}}/?title={{(week.week_of() + ' ' + gettext('Watchtower'))|urlencode}}">
			{{gettext("Watchtower")}}
		</a>
		{%endif%}
	</td>
</tr>
{% endfor %}
{% for i in range(weeks|length, 8) %}
<tr>
	<td>&nbsp;</td>
	<td></td>
	<td></td>
</tr>
{% endfor %}
</tbody>
</table>

{% if weeks|length < 8 %}
<p>
	<form action="update" method="POST">
	<button class="add" type="submit">{{gettext("Load More Weeks")}}</button>
	</form>
</p>
{% endif %}

</section>
{% endblock %}
