{% set title = "Meetings" %}
{% extends "khplayer/base.html" %}

{% block main %}
<form action="submit" method="POST" class="_socketio">
<section>
<h2>Available Weeks</h2>
<table class="borders">
<tbody>
{% for week in weeks %}
<tr>
	<th>{{week.week_of()}}</th>
	<td><button type="submit" name="docid" value="{{week.mwb_docid}}">Midweek</button></td>
	<td><button type="submit" name="docid" value="{{week.watchtower_docid}}">Weekend</button></td>
</tr>
{% endfor %}
</tbody>
</table>
</section>
</form>
{% endblock %}
