{% set title = "OBS Control" %}
{% extends "khplayer/base.html" %}

{% block main %}

{% if error %}
<div class="flash">
{{ error }}
</div>
{% endif %}

<section>
<form action="submit" method="POST">
<ul class="bare">
{% for scene in scenes %}
<li><label><input type="checkbox" name="del" value="{{scene['sceneName']}}"> {{scene['sceneName']}}</label></li>
{% endfor %}
</ul>
<button type="submit" name="action" value="delete">Delete Selected</button>
<button type="submit" name="action" value="delete-all">Delete All</button>
<br>
<input type="text" name="collection" placeholder="New collection name">
<button type="submit" name="action" value="new">Create</button>
</form>
</section>

{% endblock %}
