{% set title = gettext("Audio Routing Patchbay") %}
{% extends "khplayer/base.html" %}
{% import "khplayer/lib.html" as lib -%}

{% block head_add %}
<link rel="stylesheet" text="text/css" href="{{ url_for('.static', filename='patchbay.css')}}">
<script src="{{ url_for('.static', filename='patchbay.js')}}"></script>
{% endblock %}

{% macro render_node(node) %}
<div id="node-{{node.id}}" class="node" data-key="{{ node.name }}-{{ node.name_serial }}" style="{{node.style}}">
	<div class="node-name">{{ node.label }}</div>
	<div class="node-media-class">{{ node.media_class }}</div>
	<div class="node-body">
		<div class="node-inputs">
			{% for input in node.inputs %}
			<div id="port-{{input.id}}" class="port">{{ input.id }} {{ input.name }}</div>
			{% endfor %}
		</div>
		<div class="node-outputs">
			{% for output in node.outputs %}
			<div id="port-{{output.id}}" class="port">{{ output.name }} {{ output.id }}</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endmacro %}

{% block main %}

<section class="bordered">
<form action="save-config" method="POST" class="wrapped">
{{lib.render_field(form.PERIPHERALS_microphone)}}
{{lib.render_field(form.PERIPHERALS_speakers)}}
<button type="Submit">{{gettext("Reconnect Audio")}}</button>
</form>
</section>

<div id="patchbay" class="patchbay patchbay-loading">
<svg>
	<defs>
		<marker
			id="arrowhead" class="arrowhead"
			refX="2"
			refY="0"
			>
			<path transform="scale(0.4)" d="M -2,-4 9,0 -2,4 c 2,-2.33 2,-5.66 0,-8 z">
		</marker>
	</defs>
</svg>
<template>
	<svg>
		<path class="link-curve" marker-end="url(#arrowhead)">
	</svg>
</template>
<div class="dummy-input"></div>
{% for node in patchbay.nodes %}
{% if "Audio" in node.media_class %}
{{ render_node(node) }}
{% endif %}
{% endfor %}
</div>

<script>
var links = [
{% for link in patchbay.links %}
[{{link.output_port.id}}, {{link.input_port.id}}],
{% endfor %}
];
setTimeout(function() { init_patchbay(links) }, 100);
</script>

{% endblock %}

