{% set title = gettext("Configuration") %}
{% extends "khplayer/base.html" %}
{% import "khplayer/lib.html" as lib -%}

{% block head_add %}
<style>
.nick { width: 10em; }
.description { width: 25em; }
</style>
{% endblock %}

{% block main %}
<form action="save" method="POST">

<section>
	<h2>Audio Devices</h2>
	<table class="borders full-width">
		<thead>
			<tr>
				<th>ID</th>
				<th>{{gettext("Device Name")}}</th>
				<th>{{gettext("Nick")}}</th>
				<th>{{gettext("Description")}}</th>
				<th>{{gettext("Disable")}}</th>
			</tr>
		</thead>
		<tbody>
			{% for device in patchbay.devices %}
			{% if device.media_class == "Audio/Device" %}
			<tr>
				<td>{{device.id}}</td>
				<td>{{device.name.split(".",1)[1]}}</td>
				<td><input class="nick" name="device-{{device.id}}-nick" value="{{device.nick|default('')}}"></td>
				<td><input class="description" name="device-{{device.id}}-description" value="{{device.description|default('')}}"</td>
				<td><input class="disabled" type="checkbox" name="device-{{device.id}}-disabled" value="1"></td>
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>
	</table>
</section>

<section>
	<h2>Audio Ports</h2>
	<table class="borders full-width">
		<thead>
			<tr>
				<th>ID</th>
				<th>{{gettext("Media Class")}}</th>
				<th>{{gettext("Node Name")}}</th>
				<th>{{gettext("Nick")}}</th>
				<th>{{gettext("Description")}}</th>
				<th>{{gettext("Disable")}}</th>
			</tr>
		</thead>
		<tbody>
			{% for node in patchbay.nodes %}
			{% if node.media_class.startswith("Audio/") %}
			<tr>
				<td>{{node.id}}</td>
				<td>{{node.media_class}}</td>
				<td>{{node.name.split(".",1)[1]}}</td>
				<td><input class="nick" name="node-{{node.id}}-nick" value="{{node.nick}}"></td>
				<td><input class="description" name="node-{{node.id}}-description" value="{{node.description}}"></td>
				<td><input class="disabled" type="checkbox" name="node-{{node.id}}-disabled" value="1"></td>
				<!-- <td><input class="disabled" type="checkbox" name="node-{{node.id}}-monitor-disabled" value="1"></td> -->
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>
	</table>
</section>

<section>
	<button type="submit">{{_("Save")}}</button>
</section>
</form>
{% endblock %}
