{% set title = gettext("Scene Composer") %}
{% extends "khplayer/base.html" %}
{% from "khplayer/scenes_lib.html" import render_cameras, render_remotes -%}

{% block head_add %}
<script src="{{ url_for('.static', filename='scenes.js')}}"></script>
{% endblock %}

{% block header %}
<h1><a href="../..">&lt; {{title}}</a></h1>
{% endblock %}

{% block main %}
<form action="action" method="POST">
	<section class="bordered-box">
		<div class="hbox">
			<input type="text" name="scene_name" value="{{scene_name}}">
			<button type="submit" name="action" value="rename-scene">{{_("Rename")}}</button>
		</div>
	</section>
</form>

{% if not cameras %}
<section class="bordered-box">
	<a href=".?action=add-source"><button class="new">{{_("Add Source")}}</button></a>
</section>
{% else %}
<form action="action" method="POST">
	<section class="bordered-box popup">
		<h2>{{_("Add Source")}}</h2>
		{{render_cameras(cameras)}}
		<button class="new" type="submit" name="action" value="add-camera">{{_("Camera")}}</button>
		<button class="new" type="submit" name="action" value="add-zoom:0">{{_("Zoom")}}</button>
		<button class="new" type="submit" name="action" value="add-zoom:1">{{_("Zoom 1")}}</button>
		<button class="new" type="submit" name="action" value="add-zoom:2">{{_("Zoom 2")}}</button>
		{{render_remotes(remotes)}}
		<a href="."><button class="cancel" type="button">{{_("Close")}}</button></a>
	</section>
</form>
{% endif %}

{% for scene_item in scene_items %}
<form id="scene_item{{scene_item.id}}" action="action" method="POST">
<section class="bordered-box">
	<input type="hidden" id="bounds" value="{{scene_item.bounds_width}} {{scene_item.bounds_height}} {{scene_item.position_x}} {{scene_item.position_y}}">
	<input type="hidden" id="dimensions" value="{{scene_item.width}} {{scene_item.height}}">
	<input type="hidden" name="scene_item_id" value="{{scene_item.id}}">

	<h2>
		{{scene_item.index+1}} {{scene_item.name}}
	</h2>

	<div class="hbox">
		<input type="checkbox" name="enabled" value="1"{% if scene_item.enabled %} checked{%endif%}>
		<div class="thumbnail">
			<img src="{{scene_item.thumbnail_url}}">
		</div>
		<button type="submit" class="delete" name="action" value="delete">{{_("Delete")}}</button>
		{% if loop.index0 > 0 %}
		<button type="submit" class="up" name="action" value="set-index:{{scene_item.index+1}}">{{_("Up")}}</button>
		{% endif %}
		{% if scene_item.index > 0 %}
		<button type="submit" class="down" name="action" value="set-index:{{scene_item.index-1}}">{{_("Down")}}</button>
		{% endif %}
		<button type="button" class="face" value="{{scene_item.source_uuid}}">{{_("Face")}}</button>
		<button type="button" class="reset">{{_("Reset")}}</button>
	</div>

	<div class="slider">
		<input type="range" id="scene_item{{scene_item.id}}zoom" name="zoom" min="1" max="4" value="{{scene_item.zoom}}" step=".1">
		<span></span>
		<label for="scene_item{{scene_item.id}}zoom">Zoom</label>
	</div>

	<div class="slider">
		<input type="range" id="scene_item{{scene_item.id}}x" name="x" min="0" max="100" value="{{scene_item.x}}" step="1">
		<span></span>
		<label for="scene_item{{scene_item.id}}x">X</label>
	</div>

	<div class="slider">
		<input type="range" id="scene_item{{scene_item.id}}y" name="y" min="0" may="100" value="{{scene_item.y}}" step="1">
		<span></span>
		<label for="scene_item{{scene_item.id}}y">Y</label>
	</div>

	<div class="bounds borderless-box">
		{% for width, height, x, y in bounds_options %}
		<button type="button" value="{{width}} {{height}} {{x}} {{y}}">
			<svg viewBox="0 0 1280 720">
				<rect class="screen" width="1280" height="720"></rect>
				<rect class="bounds" x="{{x}}" y="{{y}}" width="{{width}}" height={{height}}></rect>
			</svg>
		</button>
		{% endfor %}
	</div>

</section>
</form>
{% endfor %}

<script>
if(!document.documentElement.hasAttribute("data-turbo-preview"))
	init_scene_composer();
</script>
{% endblock %}
