{% set title = gettext("Scene Composer") %}
{% extends "khplayer/base.html" %}

{% block head_add %}
<script src="{{ url_for('.static', filename='scene_composer.js')}}"></script>
<link rel="stylesheet" text="text/css" href="{{ url_for('.static', filename='scene_composer.css')}}">
{% endblock %}

{% block header %}
<h1><a href="..">&lt; {{title}}</a></h1>
{% endblock %}

{% block main %}
<section class="bordered-box">
<form action="rename-scene" method="POST">
	<div class="hbox">
		<input type="hidden" name="scene_uuid" value="{{scene['sceneUuid']}}">
		<input type="text" name="scene_name" value="{{scene['sceneName']}}">
		<button type="submit">{{_("Rename")}}</button>
	</div>
</form>
</section>

{% for scene_item in scene_items %}
<section class="bordered-box">
<h2>{{scene_item.index+1}} {{scene_item.name}}</h2>
<form id="scene_item{{scene_item.id}}">

	<input type="hidden" name="scene_uuid" value="{{scene_item.scene_uuid}}">
	<input type="hidden" id="bounds" value="{{scene_item.bounds_width}} {{scene_item.bounds_height}} {{scene_item.position_x}} {{scene_item.position_y}}">
	<input type="hidden" id="dimensions" value="{{scene_item.width}} {{scene_item.height}}">

	<div class="slider">
		<input type="range" id="scene_item{{scene_item.id}}zoom" name="zoom" min="1" max="4" value="{{scene_item.zoom}}" step=".1">
		<span></span>
		<label for="scene_item{{scene_item.id}}zoom">Zoom</label>
	</div>

	<div class="slider">
		<input type="range" id="scene_item{{scene_item.id}}x" name="x" min="0" max="100" value="{{scene_item.x}}" step="1">
		<span></span>
		<label for="scene_item{{scene_item.id}}x">X</label>
	</div>

	<div class="slider">
		<input type="range" id="scene_item{{scene_item.id}}y" name="y" min="0" may="100" value="{{scene_item.y}}" step="1">
		<span></span>
		<label for="scene_item{{scene_item.id}}y">Y</label>
	</div>

	<div class="position borderless-box">
		<button type="button" value="1280 720 0 0">Fullscreen</button>
		<button type="button" value="638 720 0 0">Left Half</button>
		<button type="button" value="638 720 642 0">Right Half</button>
		<button type="button" value="640 360 0 180">Left Letterbox</button>
		<button type="button" value="640 360 640 180">Right Letterbox</button>
		<button type="button" value="240 360 0 0">Portrait</button>
	</div>

</form>
</section>
{% endfor %}

<script>
if(!document.documentElement.hasAttribute("data-turbo-preview"))
	init_scene_composer();
</script>
{% endblock %}
