{% macro render_scenes(scenes, program_scene_uuid, preview_scene_uuid) %}
	{% for scene in scenes %}
	{{render_scene(scene, program_scene_uuid, preview_scene_uuid)}}
	{% endfor %}
{% endmacro %}

{% macro render_scene(scene, program_scene_uuid, preview_scene_uuid) %}
	<tr draggable="true" id="scene-{{scene['sceneUuid']}}"{%
			if scene['sceneUuid'] == program_scene_uuid %} class="program-scene"{%
			elif scene['sceneUuid'] == preview_scene_uuid %} class="preview-scene"{%
			endif %}>
		<td>
			<input type="checkbox" name="del" value="{{scene['sceneUuid']}}">
		</td>
		<td>
			<div class="thumbnail">
			{% if scene['thumbnail_url'] %}<img src="{{scene['thumbnail_url']}}">{% endif %}
			</div>
		</td>
		<td class="scene-name">
			{{scene['sceneName']}}
		</td>
	</tr>
{% endmacro %}

{% macro render_cameras(cameras) %}
	<select name="camera">
		{% for camera_dev, camera_name in cameras %}
		<option value="{{camera_dev}} {{camera_name}}">{{camera_name}}</option>
		{% endfor %}
	</select>
{% endmacro %}

{% macro render_remotes(remotes) %}
{% for name in remotes.keys() %}
<button class="new" type="submit" name="action" value="add-remote:{{name}}">{{name}}</button>
{% endfor %}
{% endmacro %}
