{% set title = _("Scene List") %}
{% extends "khplayer/base.html" %}
{% from "khplayer/scenes_lib.html" import render_scene -%}

{% block head_add %}
<script src="{{ url_for('.static', filename='scenes.js')}}"></script>
{% endblock %}

{% block main %}
<form action="submit" method="POST">
<section>
	<div class="borderless-box">
		<button type="submit" class="delete" name="action" value="delete">{{_("Delete Selected")}}</button>
		{% if not cameras %}
		<button type="submit" class="new" name="action" value="add-live">{{_("Add a Live Scene")}}</button>
		{% endif %}
	</div>

	{% if cameras %}
	<section class="bordered-box">
		<select name="camera">
			{% for camera_dev, camera_name in cameras %}
			<option value="{{camera_dev}} {{camera_name}}">{{camera_name}}</option>
			{% endfor %}
		</select>
		<button class="new" type="submit" name="action" value="add-camera">{{_("Add Camera Scene")}}</button>
		<button class="new" type="submit" name="action" value="add-zoom">{{_("Add Zoom Scene")}}</button>
		<button class="new" type="submit" name="action" value="add-split">{{_("Add Split Screen Scene")}}</button>
		<a href="."><button class="cancel" type="button">{{_("Cancel")}}</button></a>
	</section>
	{% endif %}

<table id="scenes" class="borders full-width selection">
<thead>
<tr>
	<th><input id="check-all" type="checkbox"></th>
	<th></th>
	<th>{{_("Scene Name")}}</th>
</tr>
</thead>
<tbody id="scenes-list">
	{% for scene in scenes %}
	{{render_scene(scene, program_scene_uuid, preview_scene_uuid)}}
	{% endfor %}
</tbody>
</table>

</section>
</form>

<form id="upload-form" class="scene-add-form" action="upload" method="POST" enctype="multipart/form-data">
<section class="bordered-box">
<h2><label for="files">{{_("Upload Media Files")}}</label></h2>
	<div class="hbox">
		<div class="file-upload">
			<button class="browse" type="button">{{_("Browse")}}</button>
			<input type="file" id="files" name="files" multiple>
			<ul>
			</ul>
		</div>
		<button class="upload" type="submit">{{_("Add as Scene")}}</button>
	</div>
</section>
</form>

<form id="add-url-form" class="scene-add-form" action="add-url" method="POST">
<section class="bordered-box">
<h2><label for="add-url">{{_("URL to Add")}}</label></h2>
	<div class="hbox">
		<input type="text" id="add-url" name="add-url">
		<button class="new" type="submit" class="add">{{_("Add as Scene")}}</button>
	</div>
</section>
</form>

<form id="add-html-form" class="scene-add-form" action="add-html" method="POST">
<section class="bordered-box">
<h2><label for="add-html">{{_("HTML to Add")}}</label></h2>
	<div class="hbox">
		<input type="text" id="add-html" name="add-html">
		<button class="new" type="submit" class="add">{{_("Add as Scene")}}</button>
	</div>
</section>
</form>

<script>
if(!document.documentElement.hasAttribute("data-turbo-preview"))
	setTimeout(function() { init_scenes() }, 100);
</script>
{% endblock %}
