{% set title = "Scene List (OBS)" %}
{% extends "khplayer/base.html" %}

{% block head_add %}
<link rel="stylesheet" text="text/css" href="{{ url_for('.static', filename='scenes.css')}}">
<script src="{{ url_for('.static', filename='scenes.js')}}"></script>
{% endblock %}

{% block main %}
<form action="submit" method="POST">

<section class="big-buttons">
	<p>
		<button type="button" id="select-unstarred">Select Unstarred</button>
		<button type="button" id="select-all">Select All</button>
		<button type="button" id="deselect-all">Deselect All</button>
		<button type="submit" name="action" value="delete">Delete Selected</button>
	</p>
	<ul class="scenes">
	{% for scene_name in scene_names %}
	<li>
		<input type="checkbox" name="del" value="{{scene_name}}">
		<button type="submit" name="scene" value="{{scene_name}}">{{scene_name}}</button>
		</li>
	{% endfor %}
	</ul>
</section>

</form>

<section>
	<form id="upload-form" action="upload" method="POST" enctype="multipart/form-data">
		<label for="files">Upload media files:</label>
		<input type="file" id="files" name="files" multiple>
	</form>
</section>

<script>
setTimeout(function() { init_scenes() }, 100);
</script>
{% endblock %}
