{% set title = gettext("Control Cameras") %}
{% extends "khplayer/base.html" %}

{% block head_add %}
<link rel="stylesheet" text="text/css" href="{{ url_for('.static', filename='cameras.css')}}">
<script src="{{ url_for('.static', filename='cameras.js')}}"></script>
{% endblock %}

{% block main %}
{% for camera in cameras %}
<section class="bordered-box">
<h2>{{camera.index+1}} {{camera.name}}</h2>
<form id="camera{{camera.id}}">

	<input type="hidden" name="scene_uuid" value="{{camera.scene_uuid}}">
	<input type="hidden" id="width" value="{{camera.width}}">
	<input type="hidden" id="height" value="{{camera.height}}">

	<div class="slider">
		<input type="range" id="camera{{camera.id}}zoom" name="zoom" min="1" max="3" value="{{camera.zoom}}" step=".1">
		<span></span>
		<label for="camera{{camera.id}}zoom">Zoom</label>
	</div>

	<div class="slider">
		<input type="range" id="camera{{camera.id}}x" name="x" min="0" max="100" value="{{camera.x}}" step="1">
		<span></span>
		<label for="camera{{camera.id}}x">X</label>
	</div>

	<div class="slider">
		<input type="range" id="camera{{camera.id}}y" name="y" min="0" may="100" value="{{camera.y}}" step="1">
		<span></span>
		<label for="camera{{camera.id}}y">Y</label>
	</div>

</form>
</section>
{% endfor %}

<script>
if(!document.documentElement.hasAttribute("data-turbo-preview"))
	init_cameras();
</script>
{% endblock %}

