{% set title = gettext("Speaker's Slide Loader") %}
{% extends "khplayer/base.html" %}
{% import "khplayer/lib.html" as lib -%}

{% block header %}
	<h1>
		{% if not client %}
		{{title}}
		{% elif top == ".." %}
		{{client.folder_name}}
		{% else %}
		<a href="..">&lt;&nbsp;{{client.folder_name}}</a>
		{% endif %}
	</h1>
{% endblock %}

{% block main %}
<form action=".download" method="POST">
<section class="filemanager">
	{% if client %}
	<div>
		{% for folder in client.list_folders() %}
		<a class="item" href="{{folder.id}}{% if folder.mimetype in ("application/zip","application/x-zip") %}.zip{%endif%}/">
			<div class="thumbnail large">
				<img src="/khplayer/static/icon-folder.svg">
				{% if folder.thumbnail_url %}
				<img class="folder-preview" src="{{folder.thumbnail_url}}">
				{% endif %}
			</div>
			<div class="folder-name">
				{{folder.filename}}
			</div>
		</a>
		{% endfor %}
	</div>
	<div>
		{% for image_file in client.list_image_files() %}
		<div class="item">
			<div class="thumbnail large">
				{% if image_file.thumbnail_url %}
				<img src="{{image_file.thumbnail_url}}">
				{% endif %}
			</div>
			<div class="bottom-bar">
				<input type="checkbox" name="selected" value="{{ image_file.id }}" checked>
				<input class="filename" type="text" name="scenename-{{ image_file.id }}" value="{{ image_file.filename }}"></td>
			</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}
</section>

<section>
<div class="borderless-box">
	<button class="download" type="submit">{{gettext("Load Selected Slides into OBS")}}</button>
	<button class="reload" type="submit" formaction=".reload">{{gettext("Reload")}}</button>
	{% if form is none and top == ".." %}
	<a href=".?action=configuration"><button class="config">{{gettext("Configuration")}}</button></a>
	{% endif %}
</div>
</section>

</form>

{% if form is not none %}
<form action=".save-config" method="POST">
<section class="bordered-box">
<h2>{{gettext("Configuration")}}</h2>
{{lib.render_input_text(_("Google Drive Sharing URL"), "url", form["url"], class="long-url")}}
<button class="save" type="submit">{{gettext("Save")}}</button>
<a href="."><button class="cancel">{{gettext("Cancel")}}</button></a>
</section>
</form>
{% endif %}

{% endblock %}
