{% set title = gettext("Speaker's Slide Loader") %}
{% extends "khplayer/base.html" %}
{% import "khplayer/lib.html" as lib -%}

{% block main %}
<section>
<form action="download" method="POST">
<table class="borders selection">
<thead>
<tr>
	<th></th>
	<th>{{gettext("Scene Name")}}</th>
	<th>{{gettext("Preview")}}</th>
</tr>
</thead>
<tbody>
{% for file in files %}
<tr>
	<td><input type="checkbox" name="selected" value="{{ file.id }}" checked></td>
	<td><input type="text" name="scenename-{{ file.id }}" value="{{ file.filename }}"></td>
	<td><div class="thumbnail large">
		<img src="{{file.thumbnail_url}}">
	</div></td>
</tr>
{% endfor %}
</tbody>
</table>
<div class="borderless-box">
	<a href="."><button>{{gettext("Reload")}}</button></a>
	<button type="submit">{{gettext("Load Selected Slides into OBS")}}</button>
	{% if not form %}
	<a href=".?action=configuration"><button>{{gettext("Configuration")}}</button></a>
	{% endif %}
</div>
</form>
</section>

{% if form %}
<section class="bordered-box">
<h2>{{gettext("Configuration")}}</h2>
<form action="save-config" method="POST">
{{lib.render_field(form.GDRIVE_url, size=70)}}
<button type="submit">{{gettext("Save")}}</button>
<a href="."><button>{{gettext("Cancel")}}</button></a>
</form>
</section>
{% endif %}

{% endblock %}
