{% set title = "Load Songs" %}
{% extends "khplayer/base.html" %}

{% block main %}
<form action="submit" method="POST">

<section>
<input type="text" name="song" placeholder="Enter song number">
<button type="submit">Add</button>
</section>

<section>
{% if videos %}
<ul class="nowrap">
{% for video in videos %}
<li><button type="submit" name="lank" value="{{video.lank|urlencode}}">{{video.name}}</button></li>
{% endfor %}
</ul>
{% else %}
<p>Run <b>Update</b> in the <b>Videos</b> tab to see a list of songs here.</p>
{% endif %}
</section>

</form>
{% endblock %}
