{% set title = gettext("Load Songs from Songbook") %}
{% extends "khplayer/base.html" %}

{% block main %}

<section>
<form action="submit" method="POST">
<input type="text" name="song" placeholder="{{_('Enter song number')}}">
<button class="new" type="submit">{{_("Add")}}</button>
</form>
</section>

<section>
{% if videos %}
<form action="submit" method="POST">
<table class="borders full-width selection">
<thead>
<tr>
	<th></th>
	<th>{{gettext("Song Number and Name")}}</th>
</tr>
</thead>
<tbody>
{% for video in videos %}
	<tr>
		<td>
			<button class="add" type="submit" name="lank" value="{{video.lank|urlencode}}">+</button>
		</td>
		<td>
			{{video.name}}
		</td>
	</tr>
{% endfor %}
</tbody>
</table>
</form>
{% else %}
<p>{{_("Run <b>Update</b> in the <b>Videos</b> tab to see a list of songs here.")|safe}}</p>
{% endif %}
</section>

{% endblock %}
