{% set title = gettext("Load Songs from Songbook") %}
{% extends "khplayer/base.html" %}

{% block header %}
	<form style="float: right; margin: .5em" action="update" method="POST">
		<button class="reload" type="submit">{{gettext("Update Songs")}}</button>
	</form>
	{{ super() }}
{% endblock %}

{% block main %}
{% if videos %}

<section>
<form action="submit" method="POST">
<input type="text" name="song" placeholder="{{_('Enter song number')}}">
<button class="new" type="submit">{{_("Add")}}</button>
</form>
</section>

<section>
<form action="submit" method="POST">
<table class="borders full-width selection">
<thead>
<tr>
	<th></th>
	<th>{{gettext("Song Number and Name")}}</th>
</tr>
</thead>
<tbody>
{% for video in videos %}
	<tr>
		<td>
			<button class="add" type="submit" name="lank" value="{{video.lank|urlencode}}">+</button>
		</td>
		<td>
			{{video.title}}
		</td>
	</tr>
{% endfor %}
</tbody>
</table>
</form>
</section>

{% else %}
<section>
<p>{{_("Click <b>Update Songs</b> to see a list of songs here.")|safe}}</p>
</section>
{% endif %}
{% endblock %}
