{% set title = "Stream" %}
{% extends "khplayer/base.html" %}

{% block head_add %}
<link rel="stylesheet" text="text/css" href="{{ url_for('.static', filename='stream.css')}}">
{% endblock %}

{% block main %}
<form action="{{id}}/trim" method="POST">
<section>
<div class="video-caption">
	{{video_name}}
</div>
<div class="video-sizer">
	<video id="player" controls src="{{video_url}}" style="width: 100%">
	</video>
</div>
<div id="jog-controls" class="controls">
	<button type="button">&#x23EA;<span>30:00</span></button>
	<button type="button">&#x23EA;<span>5:00</span></button>
	<button type="button">&#x23EA;<span>1:00</span></button>
	<button type="button">&#x23EA;<span>0:30</span></button>
	<button type="button">&#x23EA;<span>0:05</span></button>
	<button type="button">&#x23EA;<span>0:01</span></button>

	<button type="button">Set Start</button>
	<button type="button">Set End</button>

	<button type="button">&#x23E9;<span>0:01</span></button>
	<button type="button">&#x23E9;<span>0:05</span></button>
	<button type="button">&#x23E9;<span>0:30</span></button>
	<button type="button">&#x23E9;<span>1:00</span></button>
	<button type="button">&#x23E9;<span>5:00</span></button>
	<button type="button">&#x23E9;<span>30:00</span></button>
</div>
<div id="chapter-controls" class="controls">
{% for chapter in chapters %}
<button type="button" data-time="{{chapter['time']}}">{{chapter['name']}}</button>
{% endfor %}
</div>
<div id="trim-controls" class="controls">
	<label>Start: <input type="text" id="start" name="start" class="time"></label>
	<label>End: <input type="text" id="end" name="end" class="time"></label>
	<button type="submit">Trim</button>
</div>
<script>
const player = document.getElementById("player");

const jog_controls = document.getElementById("jog-controls").children;
console.debug(jog_controls);
function jog_button(index, amount)
	{
	jog_controls[index].addEventListener('click', function() {
		player.currentTime = Math.floor(player.currentTime + amount + 0.5);
		});
	}
function copy_time_button(index, target)
	{
	jog_controls[index].addEventListener('click', function()
		{
		let seconds = player.currentTime;
		let minutes = Math.floor(seconds / 60);
		seconds = Math.floor(seconds % 60 + 0.5);
		let formatted_time = minutes + ":" + (seconds < 10 ? "0" : "") + seconds;
		document.getElementById(target).value = formatted_time;
		});
	}
jog_button(0, -1800);
jog_button(1, -300);
jog_button(2, -60);
jog_button(3, -30);
jog_button(4, -5);
jog_button(5, -1);
copy_time_button(6, "start");
copy_time_button(7, "end");
jog_button(8, 1);
jog_button(9, 5);
jog_button(10, 30);
jog_button(11, 60);
jog_button(12, 300);
jog_button(13, 1800);

const chapter_controls = document.getElementById("chapter-controls").children;
function on_chapter_button(event)
	{
	player.currentTime = this.dataset.time;	
	}
for(let i=0; i < chapter_controls.length; i++)
	{
	chapter_controls[i].addEventListener("click", on_chapter_button);
	}
</script>
</section>
</form>
{% endblock %}
