{% set title = "Tools" %}
{% extends "khplayer/base.html" %}

{% block main %}
<form action="submit" method="POST">

<section class="bordered">
<p>
	{% if virtual_camera_status %}
	<button type="submit" name="action" value="stop-virtualcam">Stop Virtual Camera</button>
	{% else %}
	<button type="submit" name="action" value="start-virtualcam">Start Virtual Camera</button>
	{% endif %}
	<button type="submit" name="action" value="start-projector">Start Projector</button>
</p>
</section>

</form>

{% endblock %}
