{% set title = gettext("Video Categories from JW.ORG") %}
{% extends "khplayer/base.html" %}

{% block header %}
	<form class="header-reload" action="update-all" method="POST">
		<button class="reload" type="submit">{{gettext("Update All Categories")}}</button>
	</form>
	{{ super() }}
{% endblock %}

{% block main %}
<form action="search" method="GET">
<section class="hbox">
<input type="text" name="q" placeholder="{{gettext('Enter search terms')}}">
<button class="search" type="submit">{{gettext("Search")}}</button>
</section>
</form>

<section>
{% if categories %}
<ul>
{% for category, subcategories in categories %}
	<li>{{ category }}<ul>
	{% for subcategory, category_key, subcategory_key in subcategories %}
		<li><a href="{{category_key}}/{{subcategory_key}}/">{{subcategory}}</a></li>
	{% endfor %}
	</ul>
{% endfor %}
</ul>
{% else %}
<p>{{gettext("Run <b>Update</b> to see video categories here.")|safe}}</p>
{% endif %}
</section>
{% endblock %}
