{% set title = gettext("Video Categories from JW.ORG") %}
{% extends "khplayer/base.html" %}

{% block header %}
	<form class="header-reload" action="update-all" method="POST">
		<button class="reload" type="submit">{{gettext("Update All Categories")}}</button>
	</form>
	{{ super() }}
{% endblock %}

{% block main %}
<form action="search" method="GET">
<section class="hbox">
<input type="text" name="q" placeholder="{{gettext('Enter search terms')}}">
<button class="search" type="submit">{{gettext("Search")}}</button>
</section>
</form>

{% if categories %}
{% for category, subcategories in categories %}
<section id="{{category[0]}}" class="filemanager short">
<h2>{{ category[1] }}<h2>
<div>
	{% for subcategory in subcategories %}
	<a class="item" href="{{subcategory.category_key}}/{{subcategory.subcategory_key}}/">
		<div class="thumbnail large">
			<img src="/khplayer/static/icon-folder.svg">
			<img class="folder-preview" src="{{subcategory.videos[0].thumbnail}}">
		</div>
		<div class="folder-name">
			{{subcategory.subcategory_name}}
		</div>
	</a>
	{% endfor %}
</div>
</section>
{% endfor %}
<script>
if(!document.documentElement.hasAttribute("data-turbo-preview")) {
	let fragment = window.location.hash.substring(1);
	if(fragment != "")
		document.getElementById(fragment).scrollIntoView();
}
</script>
{% else %}
<section>
<p>{{gettext("Run <b>Update</b> to see video categories here.")|safe}}</p>
</section>
{% endif %}
{% endblock %}
