{% set title = "Videos: " + category.category_name + " — " + category.subcategory_name %}
{% extends "khplayer/base.html" %}

{% block header %}
	<h1>
		<a href="../..">
		<div style="float: left; font-size: 200%; margin-right: 10px;">&lt;</div>
		{{ category.category_name }}
		<br>
		{{ category.subcategory_name }}
		</a>
	</h1>
{% endblock %}

{% block main %}
{% if error %}
<div class="flash">
{{ error }}
</div>
{% endif %}

<section>
<ul>
{% for video in category.videos | sort(attribute="date", reverse=True) %}
<li><a href=".?lank={{video.lank|urlencode}}">{{video.name}}</a></li>
{% endfor %}
</ul>
</section>
{% endblock %}
