{% set title = "Videos: " + category.category_name + " — " + category.subcategory_name %}
{% extends "khplayer/base.html" %}

{% block header %}
	<h1>
		<a href="../..">
		<div style="float: left; font-size: 200%; margin-right: 10px;">&lt;</div>
		{{ category.category_name }}
		<br>
		{{ category.subcategory_name }}
		</a>
	</h1>
{% endblock %}

{% block main %}
<form action="submit" method="POST">
<section>
<ul>
{% for video in category.videos | sort(attribute="date", reverse=True) %}
<li><button type="submit" name="lank" value="{{video.lank|urlencode}}">{{video.name}}</button></li>
{% endfor %}
</ul>
</section>
</form>
{% endblock %}
