{% set title = "Video Categories" %}
{% extends "khplayer/base.html" %}

{% block main %}
<section>
{% if categories %}
<ul>
{% for category, subcategories in categories %}
	<li>{{ category }}<ul>
	{% for subcategory, category_key, subcategory_key in subcategories %}
		<li><a href="{{category_key}}/{{subcategory_key}}/">{{subcategory}}</a></li>
	{% endfor %}
	</ul>
{% endfor %}
</ul>
{% else %}
<p>Run <b>flask update videos</b> to see video categories here.</p>
{% endif %}
</section>
{% endblock %}
