HTML, BODY, HEADER, MAIN, SECTION, H1, H2, P, PRE, UL, LI, INPUT, SELECT, TEXTAREA, BUTTON, IMG {
	margin: 0;
	padding: 0;
	}
* {
	box-sizing: border-box;
	}
INPUT, SELECT, TEXTAREA, BUTTON {
	font-size: inherit;		/* For some reason Pywebview makes these large */
	}
HTML, BODY {
	height: 100%;
	}
BODY {
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	}
HEADER {
	background-color: #f0f0f0;
	border-bottom: 1px solid #a0a0a0;
	}
MAIN {
	flex-grow: 1;
	overflow: auto;
	}
SECTION {
	margin: .5em;
	}
H1, H2 {
	font-family: sans-serif;
	}
H1 {
	font-size: 120%;
	padding: .3em;
	}
H2 {
	font-size: 100%;
	margin: .2em 0;
	}
P {
	margin-bottom: .5em;
	}
UL {
	margin: 0 0 0 1.2em;
	}
LI {
	margin: .2em 0;
	}
LABEL {
	font-weight: bold;
	}
INPUT, SELECT, TEXTAREA {
	padding: .1em .2em;
	}
BUTTON {
	padding: .2em .3em;
	}

/* Tabs at top of page */
NAV UL {
	display: flex;
	list-style-type: none;
	margin: 0;
	background-color: #b0b0b0;
	padding-top: 1px;
	}
NAV UL LI {
	margin: 0 5px;
	border-radius: 5px 5px 0 0;
	background-color: #d0d0d0;
	}
NAV UL LI:hover {
	}
NAV UL LI A {
	padding: .5em;
	display: block;
	text-decoration: none;
	color: inherit;
	}
NAV UL LI.current {
	position: relative;
	top: 1px;
	background-color: #f0f0f0;
	}

HEADER H1 A {
	color: inherit;
	text-decoration: inherit;
	}

HEADER DIV#progress {
	float: right;
	margin: .4em;
	min-width: 33%;
	height: 1.3em;
	background-color: #f8f8f8;
	border: 1px solid #c0c0c0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	}

DIV.flash {
	background-color: #C00000;
	color: white;
	border-radius: 5px;
	margin: .5em;
	padding: .5em;
	font-family: sans-serif;
	}
DIV.progress.flash {
	margin: .1em .1em 0 .1em;
	}

SECTION.bordered {
	border: thin solid #808080;
	border-radius: .2em;
	margin: .4em;
	}
SECTION.bordered > * {
	margin: .5em;
	}

TABLE.borders {
	border-collapse: collapse;
	margin-bottom: .5em;	
	}
TABLE.borders TH, TABLE.borders TD {
	border: thin solid black;
	text-align: left;
	padding: .3em;
	}
TABLE.full-width {
	width: 100%;
	}

DIV.thumbnail {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid grey;
	width: 92px;			/* 16:9 plus border */
	height: 52.625px; 
	}
DIV.thumbnail > IMG {
	width: 100%;
	height: 100%;
	object-fit: contain;
	}
DIV.thumbnail > DIV.caption {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 70%;
	padding: 0 .2em;
	background-color: rgba(255, 255, 255, 0.5);
	}

UL.nowrap LI {
	white-space: nowrap;
	}

.wrapped {
	display: flex;
	}
.wrapped .form-field {
	margin: .2em 1em .2em 0;
	}

.form-field {
	display: flex;
	align-items: center;
	}
.form-field > * {
	margin: 0 .3em;
	}
.form-field > *:first-child {
	margin-left: 0;
	}
.form-field > *:last-child {
	margin-right: 0;
	}
.form-field > LABEL::after {
	content: ":";
	}

UL.scenes {
	list-style-type: none;
	margin-left: 0;
	border: 2px solid #c0c0c0;
	margin-bottom: .5em;
	}
UL.scenes > LI {
	display: flex;
	margin: 0 .5em;
	}
UL.scenes > LI > * {
	margin: .5em;
	}
UL.scenes > LI > BUTTON {
	flex-grow: 1;
	text-align: left;
	padding: .5em;
	}
UL.scenes.highlight {
	border-color: blue;
	background-color: #f0f0ff;
	}

.big-buttons BUTTON, .big-buttons INPUT[type='file']::file-selector-button, .big-buttons SELECT {
	padding: .5em;
	}


