HTML, BODY, HEADER, SECTION, H1, H2, P, PRE, UL, LI {
	margin: 0;
	padding: 0;
	}
INPUT, SELECT, TEXTAREA, BUTTON {
	font-size: inherit;		/* For some reason Pywebview makes these large */
	}
BODY {
	font-family: sans-serif;
	}
HEADER {
	position: fixed;
	top: 0; left: 0; right: 0;
	background-color: #f0f0f0;
	border-bottom: 1px solid #a0a0a0;
	}
SECTION {
	margin: .5em;
	}
H1, H2 {
	font-family: sans-serif;
	}
H1 {
	font-size: 120%;
	padding: .3em;
	}
H2 {
	font-size: 100%;
	margin: .2em 0;
	}
P {
	margin-bottom: .5em;
	}
UL {
	margin: 0 0 0 1.2em;
	}
LI {
	margin: .2em 0;
	}

/* Tabs at top of page */
NAV UL {
	display: flex;
	list-style-type: none;
	margin: 0;
	background-color: #b0b0b0;
	padding-top: 1px;
	}
NAV UL LI {
	margin: 0 5px;
	border-radius: 5px 5px 0 0;
	background-color: #d0d0d0;
	}
NAV UL LI:hover {
	}
NAV UL LI A {
	padding: .5em;
	display: block;
	text-decoration: none;
	color: inherit;
	}
NAV UL LI.current {
	position: relative;
	top: 1px;
	background-color: #f0f0f0;
	}

HEADER H1 A {
	color: inherit;
	text-decoration: inherit;
	}

HEADER DIV#progress {
	float: right;
	margin: .5em;
	}

DIV.flash {
	background-color: #C00000;
	color: white;
	border-radius: 5px;
	margin: .5em;
	padding: .5em;
	font-family: sans-serif;
	}

SECTION.bordered {
	border: thin solid #808080;
	border-radius: .2em;
	margin: .4em;
	}
SECTION.bordered > * {
	margin: .5em;
	}

TABLE.borders {
	border-collapse: collapse;
	margin-bottom: .5em;	
	}
TABLE.borders TH, TABLE.borders TD {
	border: thin solid black;
	text-align: left;
	padding: .3em;
	}

UL.nowrap LI {
	white-space: nowrap;
	}

