.patchbay {
	height: 100%;
	}

.patchbay {
	position: relative;			/* make it a reference frame */
	cursor: default;
	overflow: hidden;			/* FIXME: should we be able to scroll? */
	//border: thin solid green;
	}
.patchbay.patchbay-loading .node {
	margin: 1em;
	position: static;
	}
.node {
	position: absolute;
	display: inline-block;
	border: thin solid black;
	background-color: #f0fff0;
	}
.node-name, .node-media-class {
	text-align: center;
	font-weight: bold;
	padding: 1px 10px;
	}
.node-body {
	display: flex;
	justify-content: space-between;
	}
.node-inputs > DIV {
	background-color: white;
	border: solid black;
	border-width: 1px 1px 1px 0;
	border-radius: 0 10px 10px 0;
	margin: 2px 2px 2px 0;
	padding: 2px 3px;
	white-space: nowrap;
	}
.node-inputs > DIV.highlight {
	background-color: #c0c0c0;
	}
.node-outputs > DIV {
	background-color: white;
	border: solid black;
	border-width: 1px 0 1px 1px;
	border-radius: 10px 0 0 10px;
	margin: 2px 0 2px 2px;
	padding: 2px 3px;
	white-space: nowrap;
	}
.node-outputs > DIV:hover {
	background-color: #c0c0c0;
	}

.link {
	position: absolute;
	overflow: visible;
	/* We do this because (at least on Chrome) the SVG bounding box
	   blocks mouse clicks to underlying elements which can make it
	   hard to drag the nodes. */
	z-index: -1;
	}
.link-curve {
	stroke: red;
	stroke-width: 6px;
	fill: none;
	}
.link-curve:hover {
	stroke: #d00000;
	}
.link .arrowhead path {
	fill: red;
	}

#dummy {
	position: absolute;
	top: 200px;
	pointer-events: none;
	width: 10px;
	height: 10px;
	//border: thin solid green;
	}

