.patchbay {
	width: 1500px;
	height: 1500px;
	position: relative;			/* make it a reference frame */
	cursor: default;
	overflow: hidden;			/* FIXME: should we be able to scroll? */
	z-index: 1;
	}
.patchbay > SVG {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	}
.patchbay .node-group {
	border: thin dotted black;
	padding: 0px 4px;
	z-index: 4;
	}
.patchbay .node-group > DIV {
	display: block;
	margin: 4px 0;
	}
.patchbay .node {
	display: inline-block;
	position: relative;
	border: thin solid black;
	background-color: #f0fff0;
	z-index: 3;
	}
.patchbay.loading .node {
	margin: 1em;
	position: static;
	}
.patchbay .node.state-suspended {
	color: #808080;
	}
.patchbay .node-id {
	position: absolute;
	left: 1px;
	top: 1px;
	font-size: 50%;
	}
.patchbay .node-header DIV {
	text-align: center;
	font-weight: bold;
	padding: 1px 10px;
	}
.patchbay .node-name {
	}
.patchbay .node.node-muted .node-name {
	text-decoration: line-through;
	}
.patchbay .node-media-class {
	font-size: 70%;
	}
.patchbay .node-media-name {
	font-size: 70%;
	}
.patchbay .node-body {
	display: flex;
	justify-content: space-between;
	}
.patchbay DIV.port {
	background-color: white;
	border: solid black;
	padding: 2px 3px;
	white-space: nowrap;
	}
.patchbay SPAN.port-id {
	font-size: 50%;
	vertical-align: top;
	}
.patchbay .node-inputs > DIV {
	border-width: 1px 1px 1px 0;
	border-radius: 0 5px 5px 0;
	margin: 2px 2px 2px 0;
	}
.patchbay .node-inputs > DIV.highlight {
	background-color: #c0c0c0;
	}
.patchbay .node-outputs > DIV {
	border-width: 1px 0 1px 1px;
	border-radius: 5px 0 0 5px;
	margin: 2px 0 2px 2px;
	}
.patchbay .node-outputs > DIV:hover {
	background-color: #c0c0c0;
	}

/* Curvy line in SVG */
.patchbay .link-curve {
	position: absolute;
	stroke: red;
	stroke-width: 6px;
	fill: none;
	}
.patchbay .link-curve:hover {
	stroke: #d00000;
	}
.patchbay .link .arrowhead path {
	fill: red;
	}
.patchbay .arrowhead {
	overflow: visible;
	fill: red;
	}
