UL.scenes {
	list-style-type: none;
	margin-left: 0;
	border: 2px solid #c0c0c0;
	margin-bottom: .5em;
	}
UL.scenes > LI {
	display: flex;
	margin: 0 .5em;
	}
UL.scenes > LI > * {
	margin: .5em;
	}
UL.scenes > LI > BUTTON {
	flex-grow: 1;
	text-align: left;
	padding: .5em;
	}

UL.scenes.highlight {
	border-color: blue;
	background-color: #f0f0ff;
	}

/* Section class is to avoid polluting other pages with our style */
SECTION.scenes BUTTON {
	padding: .5em;
	}

#upload-form {
	display: none;
	}

