UL.scenes {
	list-style-type: none;
	margin-left: 0;
	border: 2px solid #c0c0c0;
	margin-bottom: .5em;
	}
UL.scenes > LI {
	display: flex;
	margin: 0 .5em;
	}
UL.scenes > LI > * {
	margin: .5em;
	}
UL.scenes > LI > BUTTON {
	flex-grow: 1;
	text-align: left;
	padding: .5em;
	}

UL.scenes.highlight {
	border-color: blue;
	background-color: #f0f0ff;
	}

BUTTON {
	padding: .5em;
	}

INPUT[type=text] {
	padding: .5em;
	}

