.stream-player {
	}
.stream-player BUTTON {
	padding: .3em;
	}
.stream-player INPUT[type='text'] {
	padding: .3em;
	}

.video-sizer {
	border thin solid black;
	}
.video-sizer VIDEO {
	display: block;
	margin: 0 auto;
	max-width: 100vh;
	}

/* controls always visible */
/*VIDEO::-webkit-media-controls-panel {
   display: flex !important;
   opacity: 1 !important;
}*/

.controls {
	display: flex;
	align-items: center;
	margin: .2em -0.1em;
	font-size: 70%;
	}
.controls > * {
	margin: 0 0.1em;
	}

#jog-controls {
	}
#jog-controls BUTTON {
	flex-grow: 1;
	display: flex;
	align-items: center;
	padding: .2em .1em;
	white-space: nowrap;
	}
#jog-controls BUTTON IMG {
	width: .75em;
	height: .75em;
	}
#jog-controls BUTTON SPAN {
	}

#chapter-controls {
	}
#chapter-controls BUTTON {
	flex-grow: 1;
	}

#trim-controls {
	}
#trim-controls LABEL {
	padding-right: .5em;
	}
#trim-controls INPUT.time {
	width: 5em;
	}
#trim-controls LABEL.grow {
	flex-grow: 1;
	display: flex;
	align-items: center;
	}
#trim-controls INPUT.grow {
	flex-grow: 1;
	margin-left: .3em;
	}

