TABLE.borders TH {
	background-color: #ffa500;	/* orange */
	}
TABLE.borders TD {
	background-color: #ffec95;	/* light orange */
	}

SELECT {
	background-color: #729fcf;	/* baby blue */
	color: white;
	}
SELECT:hover, BUTTON:hover {
	filter: brightness(85%);
	}
BUTTON {
	background-color: #f0f0f0;
	}
BUTTON:active {
	border-width: 2px;
	}
BUTTON.add {
	background-color: #729fcf; /* baby blue */
	color: white;
	}
BUTTON.config {
	background-color: #FCE954; /* pale yellow */
	}
BUTTON.save {
	background-color: #4e9a06; /* green */
	color: white;
	}
BUTTON.reload {
	background-color: orange;
	color: black;
	}
BUTTON.cancel, BUTTON.delete {
	background-color: #ef2929;	/* red */
	color: white;
	}

.bordered-box {
	background-color: #f0f0ff;
	}

