* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}
BODY {
	font-family: sans-serif;
	}
HEADER {
	padding: 5px;
	background-color: #f0f0f0;
	border-bottom: thin solid grey;
	margin-bottom: 5px;
	}
SECTION {
	margin: 5px;
	}
H1, H2 {
	font-weight: bold;
	}
H1 {
	font-size: 120%;
	}
H2 {
	font-size: 110%;
	margin: 5px;
	}
P {
	margin: 0 5px 5px 5px;
	}
UL {
	margin-left: 1.2em;
	}
LI {
	margin: .2em 0;
	}

SECTION.pubs {
    border: 1px solid #c0c0c0;
    border-radius: 5px;
	background-color: #f8f8f8;
	}
SECTION.pubs > UL {
    list-style: none;
	margin: 0;
    }
SECTION.pubs > UL > LI {
	display: flex;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    margin: 2.5px;
	padding: 0.15em;
	background-color: white;
    }
SECTION.pubs > UL > LI > * {
	margin: 0.15em;
	}
SECTION.pubs > UL > LI > IMG {
	width: 96px;
	height: 96px;
	object-fit: cover;
	object-position: 50% top;
	flex-grow: 0;
	flex-shrink: 0;
    border: 1px solid #c0c0c0;
    }
SECTION.pubs > UL > LI > DIV {
	display: flex;
	flex-direction: column;
	}

/*
TABLE {
	border-collapse: collapse;
	margin: 5px;
	}
TH, TD {
	border: 1px solid black;
	padding: .3em;
	text-align: left;
	}
*/
