* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}
BODY {
	font-family: sans-serif;
	}
HEADER {
	position: fixed;
	top: 0; left: 0; right: 0;
	background-color: #f0f0f0;
	border-bottom: thin solid grey;
	}
SECTION {
	margin: 5px;
	}
H1, H2 {
	font-weight: bold;
	}
H1 {
	font-size: 120%;
	padding: .3em;
	}
H2 {
	font-size: 110%;
	margin: 5px;
	}
P {
	margin: 0 5px 5px 5px;
	}
UL {
	margin-left: 1.2em;
	}
LI {
	margin: .2em 0;
	}

/* Tabs at top of page */
NAV UL {
	display: flex;
	list-style-type: none;
	margin: 0;
	background-color: #b0b0b0;
	padding-top: 1px;
	}
NAV UL LI {
	margin: 0 5px;
	padding: .3em;
	border-radius: 5px 5px 0 0;
	background-color: #d0d0d0;
	}
NAV UL LI:hover {
	}
NAV UL LI A {
	text-decoration: none;
	color: inherit;
	}
NAV UL LI.current {
	position: relative;
	top: 1px;
	background-color: #f0f0f0;
	}

SECTION.pubs {
	}
SECTION.pubs > UL {
	list-style: none;
	margin: 0;
	}
SECTION.pubs > UL > LI {
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	margin: 3px;
	}
SECTION.pubs > UL > LI {
	display: flex;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	margin: 0.15em;
	}
SECTION.pubs > UL > LI > * {
	margin: 0.15em;
	}
SECTION.pubs > UL > LI > IMG {
	width: 96px;
	flex-grow: 0;
	flex-shrink: 0;
	border: 1px solid #c0c0c0;
	}
SECTION.pubs.img-crop > UL > LI > IMG {
	height: 96px;
	object-fit: cover;
	object-position: 50% top;
	}
SECTION.pubs > UL > LI > DIV {
	display: flex;
	flex-direction: column;
	margin: 3px;
	}

