* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}
BODY {
	font-family: sans-serif;
	}
HEADER {
	padding: 5px;
	}
SECTION {
	margin: 5px;
	}
H1, H2 {
	font-weight: bold;
	}
H1 {
	font-size; 150%;
	}
H2 {
	font-size: 120%;
	margin: 5px;
	}
UL {
	margin-left: 1.2em;
	}
LI {
	margin: .2em 0;
	}

SECTION.pubs {
    border: 1px solid #c0c0c0;
    border-radius: 5px;
	}
SECTION.pubs UL {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-auto-rows: 1fr;
    list-style: none;
    }
SECTION.pubs UL LI {
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    margin: 2.5px;
    }
SECTION.pubs UL LI A {
    display: block;
    color: inherit;
    text-decoration: inherit;
    text-align: left;
	padding: 5px;
	height: 100%;
    }
SECTION.pubs UL LI A:hover {
    background-color: #f0f0f0;
    }
SECTION.pubs UL LI IMG {
    display: block;
    width: 100%;
    border: 1px solid #c0c0c0;
    }

TABLE {
	border-collapse: collapse;
	margin: 5px;
	}
TH, TD {
	border: 1px solid black;
	padding: .3em;
	text-align: left;
	}

