<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8">
<title>{{title}}</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="{{url_for('.static', filename='base.css')}}">
</head>
<body>
<header>
	<h1>{{title}}</h1>
	<nav>
		<a href="{{path_prefix}}">Набор инструментов</a>
		<a href="{{path_prefix}}рабочая-тетрадь/">Рабочая тетрадь</a>
		<a href="{{path_prefix}}видеоролики/">Видеоролики</a>
	</nav>
</header>
{% block main %}
{% endblock %}
</body>
</html>

