{% set title = "Набор инструментов" %}
{% extends "toolbox/base.html" %}

{% block main %}
<p>
	These are the publications in the Toolbox. Next to each is the
	sharing link to JW.ORG.
</p>
{% for category_name, category_pubs in categories %}
<section class="pubs">
<h2>{{category_name}}</h2>
<ul>
{% for pub in category_pubs %}
	<li>
		<img src="{{pub.thumbnail}}">
		<div>
			<span>{{pub.name}}{% if pub.issue %} {{pub.issue}}{% endif %}</span>
			<a href="{{pub.href}}">{{pub.href}}</a>
		</div>
	</li>
{% endfor %}
</ul>
</section>
{% endfor %}
{% endblock %}
