<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8">
<title>Инструменты для служения: {{title}}</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="{{url_for('.static', filename='base.css')}}">
</head>
<body>
<header>
	{% macro menu_item(name, href) %}
		<li{% if href in request.path %} class="current"{% endif %}>
			<a href="{{href}}">{{ name }}</a>
		</li>
	{% endmacro %}
	<nav>
		<ul>
		{{ menu_item("Приглашения", "invitations") }}
		{{ menu_item("Буклеты", "tracts") }}
		{{ menu_item("Видео", "video") }}
		{{ menu_item("Книги", "books") }}
		{{ menu_item("Сторожевая башня", "watchtower") }}
		{{ menu_item("Пробудитесь!", "awake") }}
		</ul>
	</nav>
	<h1>{{title}}</h1>
</header>
<script>
document.getElementsByTagName("body")[0].style.paddingTop
	= document.getElementsByTagName("header")[0].offsetHeight + "px";
</script>

<section class="{{classes}}">
<ul>
{% for pub in items %}
	<li>
		<img src="{{pub.thumbnail}}">
		<div>
			<a href="{{pub.href}}" target="_blank">{{pub.name}}{% if pub.issue %} {{pub.issue}}{% endif %}</a>
			<div>{{share(pub)}}</div>
		</div>
	</li>
{% endfor %}
</ul>
</section>
</body>
</html>
