<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" text="text/css" href="{{ url_for('.static', filename='base.css')}}">
</head>
<body>
<header>
	{% macro menu_item(name, href) %}
		<li{% if href in request.path %} class="current"{% endif %}>
			<a href="{{top}}{{href}}">{{ name }}</a>
		</li>
	{% endmacro %}
	<nav>
		<ul>
		{{ menu_item("Meetings", "/meetings/") }}
		{{ menu_item("Songs", "/songs/") }}
		{{ menu_item("Videos", "/videos/") }}
		</ul>
	</nav>
	{% block header %}
	<h1>{{title}}</h1>
	{% endblock %}
</header>
<script>
document.getElementsByTagName("body")[0].style.paddingTop
	= document.getElementsByTagName("header")[0].offsetHeight + "px";
</script>
{% block main %}
{% endblock %}
</body>
</html>
